<!-- patTemplate:tmpl name="content" -->
<style type="text/css">
    .radioku{
        display: inline-block;
    }
</style>
<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        <div class="panel-heading">
            Ubah Data Peminjam
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8">
                    <form method="POST" action="{URL_ACTION}" class="xhr_form std_form" id="frmInput" name="frmInput">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nama Peminjam</label>
                            <div class="col-sm-8">
                                <input type="text" name="pinjam_nama" class="form-control" value="{PINJAM_NAMA}" size="30" required maxlength="30" /><input type="hidden" name="pinjam_id" class="form-control" value="{PINJAM_ID}" size="30"/>
                            </div>                        
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nama Barang</label>
                            <div class="col-sm-8">
                                <input type="hidden" name="inv_id" value="{INV_ID}" />
                                <input type="text" value="{INV_NAMA}" class="form-control" readonly>
        					</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Jumlah
                                <sup>(Max {JML_MAX}) </sup> *
                            </label>
                            <div class="col-sm-4">
                                <input type="text" name="pinjam_jml" value="{PINJAM_JML}" class="form-control">
                                <input type="hidden" name="jml_max" value="{JML_MAX}" />
                            </div>
                            <!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
                            <div class=" col-sm-4" style="color:#A94442;font-size: 12px;">
                                {ISI_PESAN}
                            </div>         
                            <!-- /patTemplate:tmpl -->
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <select name="pinjam_status" class="form-control">
                                    <option value="pinjam">Pinjam</option>
                                    <option value="kembali">Kembali</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Kondisi</label>
                            <div class="col-sm-6">
                                <div class="input-group radioku">
                                    <span class="input-group-addon">
                                    <input type="radio" name="pinjam_kondisi" value="B" {B}>
                                    </span>
                                    <label class="form-control">Baik</label>
                                </div>
                                <div class="input-group radioku">
                                    <span class="input-group-addon">
                                    <input type="radio" name="pinjam_kondisi" value="R" {R}>
                                    </span>
                                    <label class="form-control">Rusak</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tanggal</label>
                            <div class="col-sm-8">
                                <input type="text" name="pinjam_tgl" value="{PINJAM_TGL}" class="form-control">
                            </div>
                        </div>
                        <button class="btn btn-default" type="submit" name="btnsimpan" value="Simpan">Simpan</button>
						<button class="btn btn-default" type="reset" name="btnreset" value="Reset">Reset</button>
						<a href="{URL_CANCEL}" class="xhr dest_subcontent-element btn btn-default">Batal</a>
                    </form>                      
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- /patTemplate:tmpl -->